[phases.setup]
nixPkgs = ['python39', 'postgresql']

[phases.install]
cmds = ['pip install -r backend/requirements-railway.txt']

[phases.build]
cmds = ['cd backend && DJANGO_SETTINGS_MODULE=config.settings.railway python manage.py collectstatic --noinput']

[start]
cmd = 'cd backend && DJANGO_SETTINGS_MODULE=config.settings.railway python manage.py migrate && DJANGO_SETTINGS_MODULE=config.settings.railway gunicorn config.wsgi:application --bind 0.0.0.0:$PORT --workers 2 --timeout 120'
