[phases.setup]
nixPkgs = ['python39', 'postgresql']

[phases.install]
cmds = ['pip install -r backend/requirements-railway.txt']

[start]
cmd = 'cd backend && python manage.py migrate --settings=config.settings.railway && python manage.py create_admin --settings=config.settings.railway && gunicorn config.wsgi:application --bind 0.0.0.0:$PORT --workers 2 --timeout 120 --log-level info'
